.brands {
  @extend %center;
  justify-content: space-around;
  background-color: $color-white;
  margin-top: -3.5rem;
  padding: 1rem 0;
}

.brands__icon {
  width: 14rem;
}

.brands__icon--4th {
  width: 9rem;
}

.brands__icon--5th {
  width: 10rem;
}
