.footer {
  width: 100%;
  background-color: $color-white;
  padding-top: 4rem;
  @extend %center;
  @include media("<=43.125em") {
    // 690px
    padding-bottom: 2rem;
  }
}

.footer__boxes {
  background-color: $background;
  width: 95%;
  padding: 3rem;
  @include media("<=43.125em") {
    // 690px
    padding: 0.5rem 1.5rem;
  }
}

.footer__box-1 {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  row-gap: 2rem;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 8rem;
  @include media("<=43.125em") {
    // 690px
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
  }
}

.footer__box-2 {
  display: grid;
  grid-template-columns: 60% min-content;
  justify-content: space-between;
  gap: 5rem;
  @include media("<=43.125em") {
    // 690px
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer__join {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  justify-self: flex-start;
  @include media("<=43.125em") {
    // 690px
    order: 1;
    text-align: left;
  }
}

.footer__logo {
  align-self: center;
  @include media("<=43.125em") {
    // 690px
    align-self: flex-start;
    order: 0;
  }
}

.footer__exp {
  font-size: 1rem;
  font-weight: 500;
  max-width: 34rem;
  @include media("<=43.125em") {
    // 690px
    order: 2;
  }
}

.footer__medias {
  list-style: none;
  @include media("<=43.125em") {
    // 690px
    width: 100%;
  }
}

.footer__media {
  display: grid;
  grid-template-columns: 20% 70%;
  justify-content: space-between;
  height: 4rem;
  gap: 3rem;
  width: 80%;
  cursor: pointer;
  @include media("<=43.125em") {
    // 690px
    width: 50%;
    display: flex;
    gap: 2rem;
  }
  @include media("<=37.5em") {
    // 600px
    width: 100%;
  }
}

.footer__media-name {
  display: flex;
  align-items: flex-end;
  height: 3rem;
  font-size: 1.2rem;
  line-height: 1rem;
  @include media("<=43.125em") {
    // 690px
    width: 20%;
  }
  @include media("<=37.5em") {
    // 600px
    width: 7rem;
  }
}

.footer__icon-box {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 29rem;
  height: 3rem;
  border-bottom: 1px solid $color-white;
  @include media("<=43.125em") {
    // 690px
    width: 70%;
  }
  @include media("<=37.5em") {
    // 600px
    width: 80%;
  }
}

.footer__icon {
  width: 2.2rem;
  margin-bottom: 0.5rem;
}

.footer__icon-arrow {
  width: 2.1rem;
}

.footer__faqs {
  @extend %center;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 3rem;
  padding-bottom: 2rem;
  @include media("<=43.125em") {
    // 690px
    width: 100%;
  }
}

.footer__faq {
  @extend %center;
  justify-content: space-between;
  font-size: 1.3rem;
  font-weight: 800;
  width: 20rem;
  padding: 0 0.3rem 0.4rem 0.5rem;
  border-bottom: 1px solid $color-white;
  cursor: pointer;
  @include media("<=43.125em") {
    // 690px
    width: 30%;
  }
  @include media("<=37.5em") {
    // 600px
    width: 80%;
  }
}

.footer__copyright {
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 1rem;
}
