.goodluck {
  @extend %center;
  flex-direction: column;
  gap: 2rem;
  background-color: $color-white;
  color: $color-black;
  font-style: italic;
  text-align: center;
  padding: 5rem 2rem 5rem 2rem;
  @include media("<=26.25em") {
    // 420px
    padding: 5rem 1rem 6rem 1rem;
  }
}

.goodluck__box {
  @extend %center;
  gap: 2rem;
  padding-top: 1rem;
  @include media("<=20.625em") {
    // 330px
    flex-direction: column;
  }
}

.goodluck__what {
  font-style: italic;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: #3bb80f;
}

.goodluck__heading {
  font-size: 3rem;
  font-weight: 700;
}

.goodluck__paragraph {
  font-size: 1.2rem;
  font-weight: 600;
  line-height: -3rem;
}

.goodluck__img-box {
  @extend %center;
  background-color: $color-black;
  flex-direction: column;
  justify-content: space-between;
  width: 20rem;
  height: 20rem;
  border-radius: 20px;
  padding: 1rem 0;
  @include media("<=26.25em") {
    // 420px
    width: 15rem;
  }
}

.goodluck__img {
  width: 9rem;
}

.goodluck__img--2 {
  width: 12rem;
}

.goodluck__benefits {
  color: $color-white;
  text-transform: uppercase;
  font-size: 1.9rem;
}
