.hero {
  font-family: "Poppins", sans-serif;
  height: 57rem;
  color: $color-white;
}

.hero__collection {
  height: 10rem;
  width: 18rem;
}

.hero__collection--1 {
  @extend %center;
  padding-left: 0.5rem;
  font-weight: 700;
  font-size: 1.2rem;
  border-bottom: solid 0.2px $color-white;
}

.hero__collection--2 {
  @extend %center;
  justify-content: flex-start;
  gap: 0.8rem;
}

.hero__coin {
  width: 4rem;
  height: 4rem;
  display: block;
}

.hero__number {
  @extend %center;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.2;
}

.hero__solution {
  font-size: 1.2rem;
}

.hero__box-1 {
  @extend %center;
}

.hero__box-2 {
  display: grid;
  align-items: center;
  padding: 3rem;
}

.hero__check {
  position: absolute;
  left: -10rem;
  @extend %center;
  flex-direction: column;
  width: 42rem;
  height: 42rem;
  border-radius: 50%;
  border: solid 1px $color-white;
}

.play-box {
  @extend %center;
  position: absolute;
  top: 3rem;
  right: 6.4rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background: #ffb800;
}

.play {
  width: 1.5rem;
  height: 1.5rem;
}

.hero__heading {
  font-weight: 700;
  font-size: 10rem;
  display: block;
  line-height: 0.9;
}

.hero__heading:not(:first-child) {
  background: linear-gradient(104.21deg, #3bb80f 22.46%, #adff91 105.12%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.cards__box {
  @extend %center;
  justify-content: space-around;
  width: 60%;
  justify-self: end;
}

.card {
  @extend %center;
  padding: 1rem;
  position: relative;
  width: 23rem;
  height: 30rem;
  background: #3bb80f;
  border-radius: 25px;
}

.card--1 {
  justify-content: start;
  flex-direction: column;
}

.card--2 {
  padding: 1rem;
  justify-content: start;
  flex-direction: column;
  gap: 2rem;
}

.card-box {
  @extend %center;
  width: 20rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.card__heading {
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
}

.card__heading:not(:first-child) {
  line-height: 2rem;
}

.card__img {
  position: absolute;
  top: 6rem;
  width: 20rem;
  height: 24rem;
}

.card__paragraph {
  width: 20rem;
  font-weight: 700;
  font-size: 1.2rem;
  align-self: center;
  line-height: 1.5;
}

.card__circle {
  position: absolute;
  right: -1.5rem;
  top: -1rem;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 50%;
  background: #fe0000;
}

svg {
  max-width: 20vmin;
}

text {
  fill: $color-white;
  font-size: 6.5rem;
  font-weight: 700;
  text-transform: lowercase;
  font-variant-ligatures: none;
  letter-spacing: 0.6rem;
}

.card__star {
  position: absolute;
  width: 2.3rem;
  height: 2.3rem;
  left: 1.6rem;
  top: 1.5rem;
}
